body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Ali react table */
.ones-virtual-table--row.group-title td {
  background-color: bisque;
  transition: all 0.3s ease-in;
}

.ones-virtual-table--row.group-title:hover td {
  color: white;
  background-color: brown !important;
  cursor: pointer;
}
