body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Ali react table */
.ones-virtual-table--row.group-title td {
  background-color: bisque;
  transition: all 0.3s ease-in;
}

.ones-virtual-table--row.group-title:hover td {
  color: white;
  background-color: brown !important;
  cursor: pointer;
}

/* bigDataTable2 */
/* 将 art-table 的宽度改为 auto */
.bigDataTable2 .art-table .art-table-header table,
.bigDataTable2 .art-table .art-table-body table {
  width: auto;
}

/* 为每个 col 添加默认宽度 */
.bigDataTable2 col {
  min-width: 50px;
}

/* bigDataTable3 */
.bigDataTable3 .art-table .art-table-header table,
.bigDataTable3 .art-table .art-table-body table {
  width: 100%;
}

